{{!< centercolumn}}
 <div class="resetpass-head">
   <h2 class="text-center thin-font custom-h2">Forgot Username</h2>
 </div>
 <p class="text-center">Enter your registered Email-Id.</p>
 <form class="form-group  mt-5 pl-4 pr-4" method="post" action="/forgot/username">
     {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
             {{messages.error}}
         </div>
     {{/if}}
       <input class="form-control fontAwesome inputvalidation" name="email" placeholder="&#xf0e0; Email" type="email" required> <br>
     <div class="row">
         <input class="btn btn-primary mx-auto" type="submit" value="Submit">
     </div>
 </form>
