
{{!< centercolumn}}


<form class="form-group" method="post" action="/api/clients/add">
    <input class="form-control" type="text" name="clientname" placeholder="Client name"><br>
    <input class="form-control" type="text" placeholder="domains (; separated)" name="domain"><br>
    <input class="form-control" type="text" placeholder="callbackurl (; separated)" name="callback"><br>
    <input class="form-control" type="text" placeholder="Default URL" name="defaulturl"><br>
    <div class="row">
        <input class="btn btn-warning mx-auto" value="Add Client" type="submit">
    </div>
</form>