<script type="application/javascript">
    $(function () {
        var picInput = $("#userpic")
        var avatarPics = $("img.avatar")
        var editFrom = $("#edit-form")
        var hiddenInput = $("#avatar-selector")
        var btnClear = $("#btn-clear")
        var userImg = $('.user-pic')
        const origPic = $(userImg[0]).attr('src')

        picInput.change(function () {
            if (picInput.val() === "") {
              if (hiddenInput.val() === "") {
                userImg.map(i=>{$(userImg[i]).attr('src', origPic)});
              } else {
                userImg.map(i=>{$(userImg[i]).attr('src', `https://minio.cb.lk/img/avatar-${hiddenInput.val()}.svg`)});
              }
            } else {
                $(avatarPics).removeClass("click-pic")
                hiddenInput.val("")
                readURL(this)
            }
        }) 
        avatarPics.click(function () {
            picInput.val("")
            $(avatarPics).removeClass("click-pic")
            $(this).addClass("click-pic")
            let idx = avatarPics.index(this)
            ++idx
            let loc = `https://minio.cb.lk/img/avatar-${idx}.svg`
            hiddenInput.val(idx)
            picInput.change()
        })

        btnClear.click(function () {
            $(avatarPics).removeClass("click-pic")
            picInput.val("")
            hiddenInput.val("")
            picInput.change()
        })
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('.user-pic').map(i=>{$(userImg[i]).attr('src', e.target.result)});
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    })
</script>

<div class="o-changedp">
    <div class="modal fade o-modal" id="change-dp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row justify-content-between no-gutters">
                    <div class="heading">
                        Change Profile Image
                    </div>
                    <span class="pointer" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></span>

                </div>

                <p class="red">Choose from existing avatars</p>

                <div class="row no-gutters">
                    {{#for 1 36 1}}
                        <div class="col-2 images">
                            <img class="avatar" src="https://minio.cb.lk/img/avatar-{{this}}.svg">
                        </div>
                    {{/for}}

                </div>

                <p>OR</p>

                <p class="red">Upload Image from your computer</p>

                <input type="file" id="userpic" accept="image/jpeg, image/png" name="userpic">
                <input id="avatar-selector" type="hidden" name="avatarselect" value="">

                <div class="footer row justify-content-end no-gutters">
                    <div class="button">
                        <button id="btn-clear" type="button">RESET</button>
                    </div>

                    <div class="button-solid">
                        <button type="button" data-toggle="modal" data-target="#change-dp">SAVE CHANGES</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>