<div class="nav-info col-md-3">
    <a href="/users/me">
        <div class="profile-pic">
            <div class="d-flex justify-content-center profile-container">
                {{#if userPhoto}}
                    <img class="round-img user-pic" src="{{userPhoto}}">
                {{else}}
                    <img class="round-img user-pic" src="/img/user.svg">
                {{/if}}
            </div>
            <div class="card">
                {{#if userName}}
                    <p>Hi, {{userName}}</p>
                {{else}}
                    <p>Hi, Guest User</p>
                {{/if}}

            </div>
        </div>
    </a>

    <div>
      <div class="flex-row">
        <a href="/users/me"><span class="pointer {{#ifeq  val=currentUrl expected="users"}}red{{/ifeq}}">MY PROFILE</span></a>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <a href="/address"><span class="pointer {{#ifeq  val=currentUrl expected="address"}}red{{/ifeq}}">MY ADDRESSES</span></a>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <a href="/apps"><span class="pointer {{#ifeq  val=currentUrl expected="apps"}}red{{/ifeq}}">MY APPS</span></a>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <a href="/users/me/clients"><span class="pointer {{#ifeq  val=currentUrl expected="clients"}}red{{/ifeq}}">MY CLIENTS</span></a>
      </div>
      <div class="separator"></div>
      <div class="flex-row faded">
        <a href="/logout"><span class="pointer">LOGOUT</span></a>
      </div>
    </div>
  </div>