body {
    padding: 30px;
    background: #fbfbfc;
    font-size: 0.7rem;
}

@media (min-width: 992px) {
    body{font-size: 1rem;}
}


.thin-font {
    font-weight: 100;
}
.btn btn-block btn-facebook {background: #3b5998;}

.btn btn-block btn-twitter {background: #00aced;}

.btn btn-block  btn-github {background: #c32f10;}


.custom-card{
  box-shadow: 0 1px 12px rgba(0,0,0,.15);
  border-radius: .25rem;
}

.custom-social-btn{
  line-height: 0.25;
  font-size: 0.75rem;
  box-shadow: 0 1px 12px rgba(0,0,0,.15);
  border-radius: 0.2rem;
}

.custom-h2{
  border-bottom: 1px solid #e2dee6;
  padding-bottom: 8px;
}
.custom-profile-image{
  padding-bottom: 20px;
  width: 150px;
  height:auto;
}
.custom-profile-padding{
  padding:.25rem;
}
.profile-row{
  display: flex;
  justify-content: space-between;
}
.profile-parent-row{
  display: flex;
  flex-direction: column;
}
.social-btn-wrapper{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
td , thead , tbody , tr , table{
  border:0 !important;
}
.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.login-head{
  background: #fbfbfc;
}
.form-control{
  background: #fbfbfc;
}

.verifyemail-input-row{
display:flex;
justify-content:space-around;
}
.verifyemail-row .form-control{
width:80%;
}
.verifyemail-form{
width:100%;
}
.alert{
 text-align:justify;
}
.thin-font{
  font-weight: 400;
  font-size: 1.25rem;
}
.col-2-mod{
  max-width: none;
}
.bold{
  font-weight: bold;
}
.auth-form{
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25;
}

.inputvalidation:focus:valid , .inputvalidation:valid{
  border: 1px dashed green;
}
.inputvalidation:focus:invalid {
  border: 1px dashed #f25f52;
}
.m-2a {
    margin: 2% auto;
}

.mt-5p {
    margin-top:5%;
}

.form-group label {
    font-weight: bold;
}

.profile-pad {
    padding-bottom: 20px;
}
img.avatar {
    margin: 10px;
    width: 50px;
    cursor: pointer;
    border: 1px solid #dee6e4

}
img.avatar:hover {
    margin: 10px;
    width: 50px;
    cursor: pointer;
    border: 2px solid #e6c914
}
img.avatar.click-pic {
    border: 2px solid #e66836
}