{{!< main}}
<div class="container p-4 mt-4">

    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-6 col-lg-5 col-sm-12 align-self-center mx-auto custom-card p-3 mt-5">
            {{{body}}}
        </div>
        <div class="col-md"></div>
    </div>



</div>
