<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/152fef14b6.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83327907-7"></script>
    <script>
        window.dataLayer = window.dataLayer || []

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date())
        {{#if user}}
        gtag('set', {'user_id': {{userId}} }) // Set the user ID using signed-in user_id.
        {{/if}}
        gtag('config', 'UA-83327907-7')
    </script>

    <link rel="icon" href="/img/favicon-16x16.png"  sizes="16x16">
    <link rel="icon" href="/img/favicon-32x32.png"  sizes="32x32">
    <link rel="icon" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="https://unpkg.com/@coding-blocks/motley@0.3.8/dist/app.min.css">
    <script src="/js/script.js"></script>
</head>
<body>

<header>
    {{> navbar}}
</header>
{{{body}}}
<footer>
    {{> footer}}
</footer>
</body>
</html>
