<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/152fef14b6.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83327907-7"></script>
    <script>
        window.dataLayer = window.dataLayer || []

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date())
        gtag('config', 'UA-83327907-7')
            {{#if user}}
            gtag('set', {'user_id': {{userId}} }) // Set the user ID using signed-in user_id.
            {{/if}}
    </script>


    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/oneauth.css">
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-between fixed-top text-white p-2">
    <a class="navbar-brand thin-font" href="/">
        <img src="/img/CB_Logo_White.png" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            {{#if loggedIn}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Clients
                    </a>
                    <div class="dropdown-menu bg-dark text-white">
                        {{#ifeq val=userRole expected="admin"}}
                            <a class="dropdown-item bg-dark text-white" href="/clients">
                                All Clients
                            </a>
                        {{/ifeq}}
                        <a class="dropdown-item bg-dark text-white" href="/users/me/clients">
                            My Clients
                        </a>
                        <a class="dropdown-item bg-dark text-white" href="/clients/add">
                            Add New Clients
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apps/">My Apps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/me">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address">My Addresses</a>
                </li>

            {{/if}}
        </ul>
        {{#if loggedIn}}
            <a href="/logout">
                <span class="mr-3 navbar-text">
                Logout
                </span>
            </a>


        {{/if}}
    </div>
</nav>
{{{body}}}
</body>
</html>
