{{!< centercolumn}}

 <div class="col-12 col-md-6 c-add-address">
     <div class="card">
         <div class="heading-u-red">
             Forgot Username
         </div>
         <form action="/forgot/username" method="post">
             {{#if messages.error}}
                 <div class="alert alert-danger" role="alert">
                     {{messages.error}}
                 </div>
             {{/if}}
             <div class="row no-gutters align-items-center justify-content-between detail-row">
                 <div class="label-input col-md-4 col-sm-3">Enter your registered Email-Id</div>
                 <input type="email" class="input-text col-8" placeholder="abc@gmail.com" name="email" required/>
             </div>

             <div class="row justify-content-end">
                 <div class="button-solid mt-4">
                     <button type="submit"> SUBMIT</button>
                 </div>
             </div>
         </form>

     </div>
 </div>