{{!< centercolumn}}
<div class="resetpass-success-head">
  <h2 class="text-center thin-font custom-h2">Forgot Username</h2>
</div>
<p class="text-center">Your username has been sent to your registered email.</p>
