<div class="home-container">
    <div class="home-heading d-flex justify-content-center">
        &lt; 404: Seems like you're lost! /&gt;
    </div>
    <div class="row justify-content-center">
        <p>The link is broken or the page has been moved.</p>
    </div>
    <div class="row justify-content-center">
        <a href="/" class="link red">Home</a>
    </div>
</div>