
<form method="post" action="/api/clients/add">
    <input type="text" name="clientname" placeholder="Client name"><br>
    <input type="password" placeholder="adminkey" name="adminkey"><br>
    <input type="text" placeholder="domains (; separated)" name="domain"><br>
    <input type="text" placeholder="callbackurl (; separated)" name="callback"><br>
    <input type="submit">
</form>