<div class="home-vh">
  <div class="home-container">
    <div class="home-heading">
      Oops, Admin Access Only!
    </div>
    <div class="row justify-content-center">
      <p>Looks like you can't peep under this hood. You need to have admin authorization to view this page.</span></p>
    </div>
  </div>
  <div class="home-container">
    <div class="row justify-content-center">
      <img src="img/cblogo.png">
    </div>
  </div>
</div>
