
<form method="post" action="/login">
    <input name="username" type="text"><br>
    <input name="password" type="password"><br>
    <input type="submit"><br>
    <a href="/login/facebook"> Login with facebook</a>
</form>
<br><br>
No user id ? <a href="/signup"> Signup </a>