{{!< centercolumn}}
<div class="login-head">
  <h3 class="text-center thin-font custom-h2">LOGIN</h3>
</div>
<form class="form-group mt-5 pl-4 pr-4" method="post" action="/login">
    <input class="form-control fontAwesome inputvalidation" placeholder="&#xf007; Username " name="username" type="text" required>
    <br>
    <input class="form-control fontAwesome inputvalidation" placeholder="&#xf023; Password" name="password" type="password" required>
    <br>
    <div class="row">
        <input class="btn btn-success mx-auto" type="submit" value="Login"><br>
    </div>
    <div class="text-center h4 thin-font"> or</div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <a class="btn custom-social-btn btn-block btn-facebook" href="/login/facebook">
              <i class="fa fa-facebook"></i> Login
              <span class="hidden-xs-down">with Facebook</span>
            </a>

            <a class="btn custom-social-btn btn-block btn-twitter" href="/login/twitter">
                 <i class="fa fa-twitter"></i> Login
                 <span class="hidden-xs-down">with Twitter</span>
            </a>
            <a class="btn custom-social-btn btn-block btn-github" href="/login/github">
                <i class="fa fa-github"></i> Login
                <span class="hidden-xs-down">with Github</span>
            </a>
        </div>
        <div class="col"></div>
    </div>


</form>
<br>
<div class="text-center h4 thin-font">
    New User? </i><a class="font-weight-normal" href="/signup"> Signup </a>
</div>
