<div class="login-signup">
    <div class="card c-login">
        <div class="heading-u-red">
            LOGIN NOW TO GET STARTED
        </div>

        <form method="post" action="/login">
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            {{#if messages.info}}
                <div class="alert alert-info">{{messages.info}}</div>
            {{/if}}
            <div class="input-btn">
                <input type="text" class="input-text icon user-bg" placeholder="Enter Username" name="username" required>
                <a href="/forgot/username">
                    <button type="button" class="grey">Forgot?</button>
                </a>
            </div>

            <div class="input-btn">
                <input type="password" class="input-text icon fingerprint-bg" placeholder="Enter Password" name="password" required>
                <a href="/forgot/password">
                    <button type="button" class="grey">Forgot?</button>
                </a>
            </div>

            <input type="checkbox" id="remember" class="input-checkbox">
            <label for="remember"> Remember me</label>

            <div class="row">
                <div class="button-solid">
                    <button type="submit"> LOGIN NOW</button>
                </div>

                <div class="signup d-flex flex-column justify-content-center">
                    New to Coding Blocks?
                    <a href="/signup">
                        <button type="button" class="red">SIGN UP NOW</button>
                    </a>

                </div>
            </div>

            <div class="divider row align-items-center">
                OR <span class="bg-black"></span>
            </div>

            <p class="link-heading">You may also try login with:</p>

            <div class="links flex-row">
                <div class="auth-link">
                    <a href="/login/facebook">
                        <button type="button" class="button-circle facebook">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </button>
                    </a>

                    <div class="link-text">FACEBOOK</div>
                </div>
                <div class="auth-link">
                    <a href="/login/google">
                        <button type="button" class="button-circle google">
                            <i class="fab fa-google-plus-g fa-2x"></i>
                        </button>
                    </a>

                    <div class="link-text">GOOGLE</div>
                </div>
                <div class="auth-link">
                    <a href="/login/twitter">
                        <button type="button" class="button-circle twitter">
                            <i class="fab fa-twitter fa-2x"></i>
                        </button>
                    </a>

                    <div class="link-text">TWITTER</div>
                </div>
                <div class="auth-link">
                    <a href="/login/github">
                        <button type="button" class="button-circle github">
                            <i class="fab fa-github fa-2x"></i>
                        </button>
                    </a>
                    <div class="link-text">GITHUB</div>
                </div>
            </div>


        </form>


    </div>
</div>



