{{!< centercolumn}}

<h2 class="text-center thin-font">Login</h2>

<form class="form-group" method="post" action="/login">
    <input class="form-control" placeholder="username" name="username" type="text" required><br>
    <input class="form-control" placeholder="password" name="password" type="password" required><br>
    <div class="row">
        <input class="btn btn-success mx-auto" type="submit" value="Login"><br>
    </div>
    <div class="text-center h4 thin-font"> or</div>

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <a class="btn btn-block btn-facebook" href="/login/facebook">
              <i class="fa fa-facebook hidden-sm-up"></i> Login
              <span class="hidden-xs-down">with Facebook</span>
            </a>
            
            <a class="btn btn-block btn-twitter" href="/login/twitter">
                 <i class="fa fa-twitter hidden-sm-up"></i> Login
                 <span class="hidden-xs-down">with Twitter</span>
            </a>
            <a class="btn btn-block btn-github" href="/login/github">
                <i class="fa fa-github hidden-sm-up"></i> Login
                <span class="hidden-xs-down">with Github</span>
            </a>
        </div>
        <div class="col"></div>
    </div>


</form>
<br><br>
<div class="text-center h4 thin-font">
    No user id ? <a class="font-weight-normal" href="/signup"> Signup </a>
</div>
