<div class="login-signup">
    <div class="card c-signup">
        <div class="heading-u-red">
            SIGNUP
        </div>

        <form method="post" action="/signup">
            {{#if messages.error}}
                <div class="alert alert-danger" role="alert">
                    {{messages.error}}
                </div>
            {{/if}}

            <input type="text" class="input-text icon user-bg" name="username" placeholder="Username" required>

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 first-name">
                    <input type="text" class="input-text icon lines-bg" name="firstname" placeholder="First Name" required>
                </div>
                <div class="col-sm-12 col-md-6 last-name">
                    <input type="text" class="input-text icon lines-bg" name="lastname" placeholder="Last Name" required>
                </div>
            </div>
            <select class="form-control input-text inputvalidation" name="gender" required>
                <option>MALE</option>
                <option>FEMALE</option>
                <option>UNDISCLOSED</option>
            </select>
            <input type="text" class="input-text icon mail-bg" name="mobile_number" placeholder="Contact Number" required>

            <input type="email" class="input-text icon mail-bg" name="email" placeholder="Email Address" required>

            <input type="password" class="input-text icon fingerprint-bg" name="password" placeholder="Password" required>

            <div class="row footer">
                <div class="button-solid">
                    <button type="submit"> SIGNUP NOW</button>
                </div>

                <div class="signup d-flex flex-column justify-content-center">
                    Already have an account?
                    <a href="/login">
                        <button type="button" class="red">LOGIN NOW</button>
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>
