{{!< centercolumn}}

{{#if messages.error}}
    <div class="alert alert-danger" role="alert">
        {{messages.error}}
    </div>
{{/if}}

<div class="login-signup">
    <div class="card o-signup">
        <div class="heading-u-red">
            SIGNUP
        </div>

        <form method="post" action="/signup">
            <input type="text" class="input-text icon" name="username" placeholder="Username" required>

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 first-name">
                    <input type="text" class="input-text icon" name="firstname" placeholder="First Name" required>
                </div>
                <div class="col-sm-12 col-md-6 last-name">
                    <input type="text" class="input-text icon" name="lastname" placeholder="Last Name" required>
                </div>
            </div>

            <input type="email" class="input-text icon" name="email" placeholder="Email Address" required>

            <input type="password" class="input-text icon" name="password" placeholder="Password" required>

            <div class="row footer">
                <div class="button-solid">
                    <button type="submit"> SIGNUP NOW</button>
                </div>

                <div class="signup d-flex flex-column justify-content-center">
                    Already have an account?
                    <a href="/login">
                        <button type="button" class="red">LOGIN NOW</button>
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>