{{!< centercolumn}}
<div>
  <h2 class="text-center thin-font custom-h2">Verify Email</h2>
  <p class="text-center">Please click on the link sent to you on your registered email id within 24 hours to verify your email. </p>
</div>

