{{!< centercolumn}}

<div class="col-12 col-md-6 c-add-address">
    <div class="card">
        <div class="heading-u-red">
            Reset Password
        </div>

        <p>Please click on the link sent to you on your registered email id within 24 hours to reset your password. </p>
    </div>
</div>