{{!< centercolumn}}
<div class="resetpass-success-head">
  <h2 class="text-center thin-font custom-h2">Reset password</h2>
</div>
<p class="text-center">Please click on the link sent to you on your registered email id within 24 hours to reset your password. </p>
