{{!< centercolumn}}
<div class="resetpass-head">
  <h2 class="text-center thin-font custom-h2">New password</h2>
</div>
<p class="text-center">Enter New password</p>
<form class="form-group  mt-5 pl-4 pr-4" method="post" action="/forgot/password/new">
    {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
    {{/if}}
    <input class="form-control fontAwesome inputvalidation" name="password" placeholder="&#xf023; Password" type="password" minlength="5" required> <br>
    <input class="form-control fontAwesome inputvalidation" name="passwordagain" placeholder="&#xf023; Retype Password" type="password" minlength="5" required> <br>
    <input class="form-control fontAwesome inputvalidation" name="key" value="{{key}}" type="hidden"> <br>
    <div class="row">
        <input class="btn btn-primary mx-auto" type="submit" value="Reset">
    </div>
</form>
